name: Monitor Diario BOE
on:
  schedule:
    # Se ejecuta a las 07:30 UTC (08:30 hora española)
    - cron: '30 7 * * *'
  workflow_dispatch: # Botón para prueba manual

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del codigo
        uses: actions/checkout@v4
      
      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      
      - name: Instalar dependencias
        run: |
          pip install requests beautifulsoup4 lxml
      
      - name: Ejecutar Script del BOE
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python boe_monitor.py
